// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

.input {
  color: inherit;
  font-family: inherit;
  background-color: rgba(#fff, .5);
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s;

  &:focus {
    outline: none;
    border-bottom: 3px solid $color-primary;
    box-shadow: 0 1rem 2rem rgba($color-black, .1);
  }

  &:focus:invalid {
    border-bottom: 3px solid $color-secondary-dark;
  }

  &::-webkit-input-placeholder {
    color: $color-grey-dark-2;
  }
}

.label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
}

.input:placeholder-shown + .label {
  opacity: 0;
  transform: translateY(-4rem);
  visibility: hidden;
}

.radio-group {
  width: 49%;
  display: inline-block;
}

.radio-input,
.checkbox-input {
  display: none;
}

.radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

.radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid $color-primary;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem;

  &::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-primary;
    opacity: 0;
    transition: opacity .2s;
  }
}

.radio-input:checked ~ .radio-label .radio-button::after {
  opacity: 1;
}

.checkbox-group:not(:last-child) {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.checkbox-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 3rem;
}

.checkbox-button {
  height: 2rem;
  width: 2rem;
  border: 2px solid $color-primary;
  border-radius: .3rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: .2rem;

  &::after {
    content: "\2714";
    font-size: 1.3rem;
    // display: block;
    // height: 1.3rem;
    // width: 1.3rem;
    // border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background-color: $color-primary;
    color: $color-primary;
    opacity: 0;
    transition: opacity .2s;
  }
}

.checkbox-input:checked ~ .checkbox-label .checkbox-button::after {
  opacity: 1;
}