.table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	table-layout: auto;

	&__row {
		// background-color: #fff;

		&:nth-child(odd) {
			background-color: inherit;
		}
	}

	&__head {
		background-color: #f5f8fa;
		font-size: 1.7rem;
		font-weight: 400;
		// padding: 2rem;
		padding: .6rem 1.2rem;
		border: 1px solid #f5f8fa;
		// border: 1px solid transparent;
		vertical-align: middle;
	}

	&__col {
		font-size: 1.4rem;
		vertical-align: middle;
		padding: .4rem .8rem;
		// padding: 1.5rem;
		border: 1px solid #e1e8ed;
	}

	&__text {
		display: inline-block;
		text-align: left;
		width: 100%;
	}

	&__text-inner {
		display: inline-block;
		// font-size: 1.4rem;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}
